*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body{
	background:#318CE7;
	height:400px;
}
#count-down-app {
	text-align: center;
	padding-top: 250px;
}

#count-down-app > span {
	font-size: 70px;
	font-weight: bold;
	color: #F4CA16;
	text-shadow: 1px 1px 1px #0c74db;
	font-family: Tahoma;
}
