*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body{
	background:#E8F48C;
	height:400px;
}
#count-down-app {
	text-align: center;
	margin-top: 250px;
}

#count-down-app > span {
	font-size: 70px;
	font-weight: bold;
	color: #000fcc;
	font-family: Tahoma;
}
